.card {
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  position: relative;

}
.card p {
  margin: 10px 0;
}
.card__image {
  margin: 0;
  width: 364px;
  height: 203px;
  display: block;
  object-fit: cover;
  overflow: hidden;
}
.card__title {
  position: absolute;
  top: 170px;
  right: 10px;
}
.card__class-Image {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

.card__nation-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.card__level {
  position: absolute;
  top: 0;
  left: 50px;
  font-size: 20px;
}
.card__description {
  font-size: 14px;
  margin: 15px 0 10px;
}

.card:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1240px) {
  .card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .card__image {
    width: 300px;
    height: 168px;
  }
  .card__title {
    top: 150px;
  }
}
